
 body {
    font-family: Arial, sans-serif;
    background: #c8dbcd;
    padding: 20px;
  }

  
  .calendars {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  
  .calendar {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.8rem;
    width: 200px;
      padding: 3.2rem;
  }

  .calendar__header {
    font-weight: bold;
    color: #828889;
    margin-bottom: 10px;
    border-bottom: 0.1rem solid #828889;
    gap: 1.2rem;
    display: flex;
    padding: 0.8rem 0;
    justify-content: space-between;
    letter-spacing: 0.2rem;
    padding: 0 0.4rem 1.2rem;
    text-transform: uppercase;
  }

  
  .calendar__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
  }

  .day-name {
    text-align: center;
    color: #828889;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 0;
  }

  
  .day {
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; 
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .day.selected {
    background-color: #c8dbcd;
    color: rgb(255, 255, 255);
  }

   
  .day.has-deal {
    border-bottom: 3px solid #ceaccc;
  }

 
  .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    
    color: #000000;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
  }
  .day.highlight {
  background-color: #dfd3e0; 
}

  .day:hover .tooltip {
    display: block;
  }
  <img src="https://i.pinimg.com/originals/8b/e9/08/8be90893212fd32b258ed7130fc0cc0d.gif" alt="Лаки Стар" style="position: fixed; right: 10px; bottom: 10px; width: 250px;">